/*Importation de la police à partir de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*Reset CSS pour réinitialiser les valeurs CSS et annuler celle de la feuille de style du navigateur */
@import url("reset.css");

body{
    font-family: "DM Sans", sans-serif; 
    font-weight:300;
    font-style: normal;
    font-size: 16px;
}


.bordure-rouge{
    border: solid 1px red;
   
}